.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  /* Ekranın tamamını kapsasın */
    background-color: #f0f0f0; /* Arka planla belirginlik artar */
  }
  
  .loading-spinner {
    width: 40px;
    height: 40px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #4CAF50;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
   